
{% extends "base.html" %}
{% block content %}

{% block header %}
{{ super() }}
{% endblock %}

<div class="container">
  Penghargaan: Dewan Bahasa Pustaka. Data berasaskan Daftar Kata Melayu
  Ejaan Jawi Edisi 2.
</div>
<div class="container">
  {% block footer %}
  &copy; Copyright 2020 by Kumpulan Penyelidikan Pengkomputeran Jawi</a>.
  <p class="text-primary">latest update: {{latest_changes}} </p>
  <p class="text-primary">
    <zamri@ukm.edu.my </p>
  {% endblock %}
</div>


{% endblock %}


{# all output in block content #}
