{% extends "base.html" %}
{% block content %}

{% block header %}
{{ super() }}
{% endblock %}

<div class="container">
  <div class="well well-lg">
    <h3>Ejaan Jawi</h3>
    <p>Ejaan jawi yang digunakan adalah berasaskan </p>
    <p>Daftar Kata Bahasa Melayu Rumi-Jawi, Edisi ke-2,
      2008 (Dewan Bahasa Pustaka). </p>
  </div>
</div>

<div class="container">
  <div class="well well-lg">
    <h3>Ejaan Jawi</h3>
    <p>Ejaan jawi yang digunakan adalah berasaskan </p>
    <p>Daftar Kata Bahasa Melayu Rumi-Jawi, Edisi ke-2,
      2008 (Dewan Bahasa Pustaka). </p>
    <h3>Rujukan Jawi Klasik/Lama</h3>
    <p>
    <ol>
      <li>A Dictionary of the Malay Tongue. James Howison(1801); </li>
      <li>A Dictionary of the malayan language. William Marsden(1812);</li>
      <li>A Grammar of the malayan language. William Marsden(1812); </li>
      <li>Maleisch-Nederduitsch woordenboek. Pijnappel(1863); </li>
      <li>grammaire de la langue malaise. l'abbe p. favre(1876); </li>
      <li>kitab injil perjanjian baru dalam Jawi(1889); </li>
      <li>Vocabuary of english and malay languages with notes.
        Frank A. Swettenham.(1889); </li>
      <li>The malay orthography. Herbert Henry Hudson.(1892); </li>
      <li>bloemlezing uit maleische geschriften. </li>
      <li>G. K. Nieman (?malay annal)(1906); </li>
      <li>dan pelbagai lagi...........</li>
      </p>
      Semua bahan dalam pdf boleh di cari di Internet.
  </div>
</div>


<div class="container">
  <div class="well well-lg">
    <h3>Perisian Jawi untuk Window 7/8/10</h3>
    <ol>
      <li>fon Jawi. <a href="/static/JawiUthmanTaha.ttf">Jawi Uthman Taha</a>.</li>
      <li> font Arabic/Jawi dari
        <a href=https://www.google.com/get/noto />Google Noto</a>. </br>

        Perlu untuk memaparkan 6 huruf tambahan Jawi.
        </br>

      <li><a href="/static/NotoKufiArabic-hinted.zip">Noto Kufi Arabic</a> </li>
      <li><a href="/static/NotoNashArabic-hinted.zip">Noto Nash Arabic</a> </li>
      <li>papan kekunci Jawi piawai dari UKM/SIRIM/UM/UTM/UiTM.
        <a href="/static/jawiukm.zip"> JawiUKM </a></li>

      <p>Sila pasang papan kekunci layout ini untuk menulis Jawi.
        Anda perlu set keyboard untuk menulis Jawi. </p>
      <p> Rujuk "Setting -> Region & Language" ->
        add Arabic support -> tukar keyboard pada taskbar.</p>
    </ol>
  </div>
</div>
<div class="container">
  <div class="well well-lg">
    <h3>Rujukan Ejaan Jawi Semasa</h3>
    <ol>
      <li> Daftar Kata Bahasa Melayu Rumi-Jawi, Edisi ke-2, 2008 (Dewan Bahasa Pustaka)</li>
      <li> Panduan menulis dan mengeja Jawi. Hamdan Abdul Rahman. (edisi ke2). 2014. Dewan Bahasa Pustaka.</li>
    </ol>
  </div>
</div>

<div class="container">
  <div class="well well-lg">
    <h3>Transliterasi Rumi-Jawi</h3>
    <p>
      Transliterasi Rumi-Jawi adalah proses untuk menukar tulisan rumi
      kepada tulisan jawi.
    </p>

    <p> Proses ini agak sukar kerana; </p>
    <ol>
      <li> sistem ejaan yang berbeza untuk Jawi dan Rumi. </li>
      Antaranya, Rumi menggunakan huruf vokal sementara Jawi
      menggunakan sistem vokal dan bukan vokal; </li>
      <li>huruf rumi boleh dipadankan dengan beberapa huruf jawi;</li>
      <li>perkataan serapan arab dikekalkan ejaan asal.</li>
      <li>pelbagai perkataan baru yang diserap ke dalam bahasa Melayu. </li>
    </ol>

    <h3>Kaedah</h3>

    Terdapat beberapa kaedah yang boleh digunakan untuk transliterasi rumi-jawi.
    <ol>
      <li>transliterasi huruf demi huruf. Dalam kaedah ini,
        setiap huruf rumi ditukar kepada huruf jawi. Dalam kaedah ini,
        semua jenis perkataan boleh di transliterasi.
        Kaedah ini ada dua masalah; kaedah ejaan rumi dan jawi adalah berbeza.
        ketepatan ejaan jawi adalah rendah; terdapat huruf yang mempunyai
        beberapa pemetaan seperti k.
      <li>transliterasi berasaskan kamus.
        Kaedah ini menggunakan data kamus dari Dewan Bahasa Dan Pustaka.
        Ejaan adalah tepat. Namun, ia tidak mempunyai ejaan untuk nama khas,
        tempat dan beberapa kombinasi perkataan. Oleh itu, ia tidak
        boleh digunakan untuk transliterasi perkataan luar kamus.</li>
      <li>transliterasi berasaskan petua. Kaedah ini menggunakan
        petua-petua untuk transliterasi rumi-jawi. Kaedah ini boleh
        digunakan untuk semua jenis perkataaan. Namun, petua-petua yang
        lengkap sukar dibina untuk komputer.</li>
    </ol>

    <h3> Capaian Penguna</h3>
    <a href="/static/analytic-08082020-1.png">Capaian pengguna 8-8-2020</a>
  </div>
</div>
<hr>
<div class="container">
  {% block footer %}
  &copy; Copyright 2020 by Kumpulan Penyelidikan Pengkomputeran Jawi</a>.
  <p class="text-primary">latest update: {{latest_changes}} </p>
  {% endblock %}
</div>


{% endblock %}


{# all output in block content #}
