<p>
This is pizza 2
<p>

<form action="post.html" method="post">
	<input type="text" name="name"></input>
	<p>
	<input type="radio" name="topping" value="supreme">Supreme</input>
 	<input type="radio" name="topping" value="vegetarian">Vegetarian</input>
 	<input type="radio" name="topping" value="hawaiian">Hawaiian</input>
 	<p>
 	<select name="sauce">
  	<option value="tomato">Tomato</option>
  	<option value="barbeque">Barbeque</option>
  	<option value="mayonnaise">Mayonnaise</option>
  	<option value="secret">Secret Sauce</option>
	</select>
	<p>
	<option selected="selected" value="secret">Secret Sauce</option>
	<p>
	<input type="checkbox" name="extra_cheese" value="1">Extra Cheese</input>
	<input type="checkbox" name="gluten_free" value="1">Gluten Free Base</input>
	<p>
	<textarea name="delivery" cols="50" rows="4"></textarea>
	<p>
	<input type="submit" value="Send my Order">
	</form>

