{% extends "base.html" %}
{% block content %}

{% block header %}
{{ super() }}
{% endblock %}

<div class="container">
  Rumi dalam paragraf. Maksimun 2500 aksara.
  <p>
  <form action="/transliterate_paragraph" method="post">
    <textarea name="rumi" style="resize: none;" rows=10 cols="120" maxlength=2500 autofocus="autofocus"
      placeholder="tulis atau salin-dan-tampal perkataan rumi di sini"></textarea><br>
    <!-- <input type="submit" value="transliterate"></input> -->
    <button class="btn btn-primary" name="_submit" type="submit" value="transliterate">transliterate</button>
  </form>
  </p>
  <div class="well well-lg">
    <h2>Bahan untuk komputer</h2> Mohon muat-turun dan pasang bahan berikut di komputer anda untuk menulis dan membaca
    Jawi dengan baik.
    <ol>
      <li>fon Jawi. <a href="/static/JawiUthmanTaha.ttf">Jawi
          Uthman Taha</a>. Perlu untuk memaparkan 6 huruf tambahan Jawi.
      </li>
      <li> font Arabic/Jawi dari <a href=https://www.google.com/get/noto />Google Noto</a>. Perlu untuk memaparkan 6
        huruf tambahan Jawi.
        </br>
        <a href="/static/NotoKufiArabic-hinted.zip">Noto Kufi Arabic</a> </li>
      <a href="/static/NotoNashArabic-hinted.zip">Noto Nash Arabic</a> </li>
      <li>Papan kekunci Jawi piawai UKM(2016) untuk Window 7/8/9/10. versi 19-10-2016.<a
          href="/static/jawiukm.zip">JawiUKM</a>
      </li>
    </ol>
  </div>
</div>
<div class="container">
  {% block footer %}
  &copy; Copyright 2020 by Kumpulan Penyelidikan Pengkomputeran Jawi</a>.
  <p class="text-primary">latest update: {{latest_changes}} </p>
  {% endblock %}
</div>


{% endblock %}


{# all output in block content #}
