{% extends "base.html" %}
{% block content %}

{% block header %}
{{ super() }}
{% endblock %}

<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h1>&nbsp;</h1>
      <h1>&nbsp;</h1>
      <form action="/transliterate" method="post">
        <input name="rumi" type="text" placeholder="rumi">
        <button class="btn btn-primary" name="_submit" type="submit" value="transliterate">transliterate</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="well well-lg">
    <h2>Bahan untuk komputer</h2> Mohon muat-turun dan pasang bahan berikut di komputer anda untuk menulis dan membaca
    Jawi dengan baik.
    <ol>
      <li>fon Jawi. <a href="/static/JawiUthmanTaha.ttf">Jawi
          Uthman Taha</a>. Perlu untuk memaparkan 6 huruf tambahan Jawi.
      </li>
      <li> font Arabic/Jawi dari
        <a href=https://www.google.com/get/noto />Google Noto</a>.
        Perlu untuk memaparkan 6 huruf tambahan Jawi.
        </br>
      <li><a href="/static/NotoKufiArabic-hinted.zip">Noto Kufi Arabic</a> </li>
      <li><a href="/static/NotoNashArabic-hinted.zip">Noto Nash Arabic</a> </li>
      <li>Papan kekunci Jawi piawai UKM(2016) untuk Window 7/8/9/10. versi 19-10-2016.
        <a href="/static/jawiukm.zip">JawiUKM</a>. Cara pasang papan kekunci.
        <a href="/static/pasang_kekunci.pdf">Cara pasang kekunci</a>.
      </li>
      <li> sampel jawi dan fon. <a href="/static/sample_jawi_fonts.pdf">pdf</a> <a
          href="/static/sample_jawi_fonts.docx">docx</a></li>
    </ol>
  </div>
</div>

<div class="container">
  Penghargaan: Dewan Bahasa Pustaka. Data berasaskan Daftar Kata Melayu
  Ejaan Jawi Edisi 2.
</div>
<div class="container">
  {% block footer %}
  &copy; Copyright 2020 by Kumpulan Penyelidikan Pengkomputeran Jawi</a>.
  <p class="text-primary">latest update: {{latest_changes}} </p>
  <p class="text-primary">
    <zamri@ukm.edu.my </p>
  {% endblock %}
</div>


{% endblock %}


{# all output in block content #}
