<!DOCTYPE html>
<html>
  <head>
    <title>Welcome | Rumi-Jawi transliteration engine)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome | Rumi-Jawi transliteration engine)</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1116317-9']);
    _gaq.push(['_trackPageview']);
    (function()
    {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })
    ();
    </script>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/overview">Overview</a>
          <a class="navbar-brand" href="/hubungi">Hubungi</a>
          <a class="navbar-brand" href="/teknikal">Teknikal</a>
          <a class="navbar-brand" href="/rumijawi">Rumi-Jawi</a>
          <a class="navbar-brand" href="/rumijawi_paragraph">Rumi-Jawi paragraph</a>
          <a class="navbar-brand" href="/nama">Transliterasi Nama</a>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <div class="well well-lg">
        <p><strong>Sistem Ejaan.</strong> Ejaan jawi yang digunakan adalah
          berasaskan Daftar Kata Bahasa Melayu Rumi-Jawi, Edisi ke-2, 2008
        (Dewan Bahasa Pustaka).</p>
      </div>
      <div class="well well-lg">
        Pembangunan sistem
        <p>
          <ol>
            <li>Python 2.7.18</li>
            <li>Google Apps Engine</li>
            <li>Flask micro framework 1.1.2</li>
            <li>bootstrap</li>
            <li>Material Design Lite. 15/7/2015
              <a>http://www.getmdl.io/</a>
            </li>
            <li> Update using bootstrap. 10-6-2016</li>
          </ol>
        </div>
        <div class="well well-lg">
          <p>Senibina. Using google app engine cloud infrastructure. <strong>Ciri-ciri</strong>
            <ol>
              <li>transliterate rumi -&gt; jawi</li>
              <li>suggestion for mispelled (Peter Norvig's spelling checker)
              </li>
            </ol>
          </div>
          <div class="well well-lg">
            <strong>Changes</strong>
            <ol>
                <li> 8-8-2020. Pembersihan dan kemas kini code. Update kepada
                Flask 1.1.2 </li>
                <li> 10-6-2016. Guna fon "Jawi Uthman Taha" untuk output.
                <li> 10-6-2016.ramadan. Update using bootstrap. </li>
                <li> Update using material design</li>
                <li> 9-9-2014: update address zamri@ukm.edu.my</li>
                <li> 25-4-2014: update user interface for mobile user. Guna bootstrap css.</li>
                <li> 15-4-2014: update user interface. revert to old user-interface as per request by a user.</li>
                <li> 1-4-2014: update using Flask framework.</li>
              </ol>
            </div>
            <div class="well well-lg">
              <strong>To Do</strong>
              <ol>
                <li> Update using Python 3.8. Ini satu app yang mudah, dan boleh
                diusahakan untuk update. Tapi, berlaku error dalam upload. (8/8/2020) </li>
                <li> Use google datastore for faster response</li>
                <li> Lazimnya, perkataan berimbuhan tidak dapat di transliterasi. Perlu
                algorithma untuk menguruskan kes ini</li>
                <li> Add Jawi spelling using Marsden(1812)</li>
                <li> Add Jawi spelling using Zaaba(1949) </li>
                <li> Add Jawi spelling using Kasberry(1911)</li>
              </ol>
            </div>
            <div class="well well-lg">
              <strong>Features lacking</strong>
              <ol>
                <li>cannot transliterate words outside existing dictionary</li>
                <li>cannot provide rules (why) certain words are Jawi spelling a particular ways</li>
                <li>no references for Jawi spelling</li>
              </ol>
            </div>
            <footer class="footer">
              <p class="text-primary">More Information: zamri@ukm.edu.my.</p>
              <p class="text-primary">latest update: {{latest_changes}} </p>
            </footer>
          </div>
        </body>
      </html>
