{% extends "base.html" %}
{% block content %}

{% block header %}
{{ super() }}
{% endblock %}

<div class="container">
  <div class="well well-lg">
    <p><strong>Sistem Ejaan.</strong> Ejaan jawi yang digunakan adalah
      berasaskan Daftar Kata Bahasa Melayu Rumi-Jawi, Edisi ke-2, 2008
      (Dewan Bahasa Pustaka).</p>
  </div>
  <div class="well well-lg">
    Pembangunan sistem
    <p>
    <ol>
      <li>Python 3.8</li>
      <li>Google Apps Engine</li>
      <li>Flask micro framework 1.1.2</li>
      <li>bootstrap</li>
      <li>Material Design Lite. 15/7/2015
        <a>http://www.getmdl.io/</a>
      </li>
      <li> Update using bootstrap. 10-6-2016</li>
      <li> Code https://github.com/mohdzamrimurah/rumi2jawi.git</li>
    </ol>
  </div>
  <div class="well well-lg">
    <p>Senibina. Using google app engine cloud infrastructure. <strong>Ciri-ciri</strong>
    <ol>
      <li>transliterate rumi -&gt; jawi</li>
      <li>suggestion for mispelled (Peter Norvig's spelling checker)
      </li>
    </ol>
  </div>
  <div class="well well-lg">
    <strong>Changes</strong>
    <ol>
      <li> 8-8-2020. Pembersihan dan kemas kini code. Update kepada
        Flask 1.1.2 </li>
      <li> 10-6-2016. Guna fon "Jawi Uthman Taha" untuk output.
      <li> 10-6-2016.ramadan. Update using bootstrap. </li>
      <li> Update using material design</li>
      <li> 9-9-2014: update address zamri@ukm.edu.my</li>
      <li> 25-4-2014: update user interface for mobile user. Guna bootstrap css.</li>
      <li> 15-4-2014: update user interface. revert to old user-interface as per request by a user.</li>
      <li> 1-4-2014: update using Flask framework.</li>
    </ol>
  </div>
  <div class="well well-lg">
    <strong>To Do</strong>
    <ol>
      <li> Update using Python 3.8. Ini satu app yang mudah, dan boleh
        diusahakan untuk update. Tapi, berlaku error dalam upload. (8/8/2020) </li>
      <li> Use google datastore for faster response</li>
      <li> Lazimnya, perkataan berimbuhan tidak dapat di transliterasi. Perlu
        algorithma untuk menguruskan kes ini</li>
      <li> Add Jawi spelling using Marsden(1812)</li>
      <li> Add Jawi spelling using Zaaba(1949) </li>
      <li> Add Jawi spelling using Kasberry(1911)</li>
    </ol>
  </div>
  <div class="well well-lg">
    <strong>Features lacking</strong>
    <ol>
      <li>cannot transliterate words outside existing dictionary</li>
      <li>cannot provide rules (why) certain words are Jawi spelling a particular ways</li>
      <li>no references for Jawi spelling</li>
    </ol>
  </div>
</div>
<div class="container">
  {% block footer %}
  &copy; Copyright 2020 by zamri@ukm.edu.my</a>.
  <p class="text-primary">latest update: {{latest_changes}} </p>
  {% endblock %}
</div>


{% endblock %}


{# all output in block content #}
