{% extends "base.html" %}
{% block content %}

{% block header %}
{{ super() }}
{% endblock %}

<div class="container">
    Rumi dalam paragraf. Maksimun 2500 aksara.
    <p>
    <form action="/transliterate_paragraph" method="post">
        <textarea name="rumi" style="resize: none;" rows=10 cols="120" maxlength=2500 autofocus="autofocus"
            placeholder="tulis atau salin-dan-tampal perkataan rumi di sini"></textarea><br>
        <input type="submit" value="transliterate"></input>
    </form>
    </p>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="">Rumi</p>
                <p class="">
                    {% for s in paragraph_rumi %}
                    <font size="+1">{{s}}</font>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-6">
                <p class="">Jawi</p>
                <p class="">
                    {% for s in paragraph_jawi %}
                    <font size="+2" face="Jawi Uthman Taha">{{s}}</font>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Rumi-Jawi</h1>
    {% for s in paragraph_rumi %}

    <font size="+1">{{s}}</font>
    <font size="+1" face="Jawi Uthman Taha">({{paragraph_jawi[paragraph_rumi.index(s)]}})</font>
    {% endfor %}
    <h1>Info</h1>
    <p>Jumlah perkataan: {{number_of_words}}</p>
    <p>Jumlah perkataan tidak boleh transliterasi: {{number_of_untransliterate}}</p>
    <p>Peratusan transliterasi: {{ (number_of_words - number_of_untransliterate)/number_of_words | round }}</p>
    <p>Tak boleh transliterasi:</p>
    {% for s in cannot_transliterasi %}
    {{s}}
    {% endfor %}
</div>

<div class="container">
    {% block footer %}
    &copy; Copyright 2020 by Kumpulan Penyelidikan Pengkomputeran Jawi</a>.
    <p class="text-primary">latest update: {{latest_changes}} </p>
    {% endblock %}
</div>

{% endblock %}
