{% extends "base.html" %}

{% block content %}

{% block header %}
{{ super() }}
{% endblock %}
<!-- Begin page content -->

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <h1>&nbsp;</h1>
            <h1>&nbsp;</h1>
            <form action="/transliterate" method="post">
                <input name="rumi" type="text" autofocus placeholder="rumi">
                <!-- <input type="submit" value="transliterate"></input> -->
                <button class="btn btn-primary" name="_submit" type="submit"
                    value="transliterate">transliterate</button>
            </form>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="">The rumi word is:</p>
                <font size="+2" face="Jawi Uthman Taha">{{rumi}}</font>
                <p class="">
                    transliterasi:
                <p class="">
                    <font size="+2" face="Jawi Uthman Taha">{{jawi}}</font>
                <p>
            </div>
            <div class="col-md-6">
                <p class="">Similar Words / Perkataan hampir:</p>
                <ol>
                    {% for w in r2 %}
                    <li>{{w}} = <font size="+2" face="Jawi Uthman Taha">{{r2[w]}}</font>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block footer %}
    &copy; Copyright 2020 by zamri@ukm.edu.my</a>.
    <p class="text-primary">latest update: {{latest_changes}} </p>
    {% endblock %}
</div>

{% endblock %}
